{% extends 'base.html.twig' %}
{% block content %}
    <!-- Page Content -->
    <section id="mall_category" class="inner_page">
        <div class="container">
            <div class="box">
                <h3>{{ job.title }}</h3>

                <div class="meta">
                    <span>االمعلن: </span>
                    <span class="author"><a href="#"> {{ job.owner }}</a></span>
                    <span>تاريخ الاعلان</span>
                    <span class="author"><a href="#"> {{ job.updatedAt|date('Y/m/d') }}</a></span>
                </div>
                <p>{{ job.description|raw }}</p>
            </div>
        </div>
    </section>
{% endblock %}