{% extends 'base.html.twig' %}
{% block content %}
    <!-- Page Content -->
    <section id="mall_category" class="inner_page">
        <div class="container">
            <div class="box">
                <div class="center">
                    <h3>Delivery title</h3>

                    <p class="lead">Delivery description</p>
                </div>
                <ul class="portfolio-items col-4">
                    {% for delivery in deliveries %}
                        <li class="portfolio-item apps">
                            <div class="item-inner">
                                <div class="portfolio-image">
                                    <a href="{{ path('delivery_delivery',{'slug':delivery.slug}) }}">
                                        <img src="{% path delivery.logo, 'preview' %}" alt="">
                                    </a>
                                </div>
                                <h5>
                                    <a href="{{ path('delivery_delivery',{'slug':delivery.slug}) }}">{{ delivery.title }}</a>
                                </h5>
                            </div>
                        </li><!--/.portfolio-item-->
                    {% endfor %}
                </ul>
            </div>
            <!--/.box-->
        </div>
        <!--/.container-->
    </section>

{% endblock %}