<ul id = "vedor_user_menu">
    <li><a class="btn btn-primary {{ selected == 'delivery' ? 'active' }}"  href="{{ path('front_editDelivery',{'delivery':delivery.id}) }}">إدارة بيانات المحل </a></li>
    <li><a class="btn btn-primary {{ selected == 'menu' ? 'active' }}" href="{{ path('front_editDlivery_menus',{'delivery':delivery.id}) }}" >إدارة المنيو</a></li>
</ul>