<section id="main-slider" class="carousel" style="background-image:url({{ asset('images/slider-bg.jpg') }}); ">
    <div class="carousel-inner">
        {% for banner in banners %}
            <div class="item {{ (loop.index==1)?'active':'' }}">
                <div class="container">
                    <div class="carousel-content">
                        <h1>
                            {{ banner.title }}
                        </h1>

                        <p class="lead">
                            {{ banner.body|raw }}
                        </p>
                    </div>
                </div>
            </div><!--/.item-->
        {% endfor %}
    </div>
    <!--/.carousel-inner-->
    <a class="prev" href="#main-slider" data-slide="prev"><i class="icon-angle-left"></i></a>
    <a class="next" href="#main-slider" data-slide="next"><i class="icon-angle-right"></i></a>
</section><!--/#main-slider-->
