<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <a target="_blank" href="http://desoukonline.com/" title="دسوق اونلاين">دسوق اونلاين</a>. جميع الحقوق محفوظة. &copy; 2013
            </div>
            <div class="col-sm-6">
                <img class="pull-right" src="{{ asset('images/shapebootstrap.png') }}" alt="desouk online" title="desouk online">
            </div>
        </div>
    </div>
</footer><!--/#footer-->