<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                جميع الحقوق محفوظة. &copy; 2013
                <a target="_blank" href="http://desoukonline.com/" title="دسوق اونلاين">دسوق اونلاين</a>
            </div>
            <div class="col-sm-6">
                تم تصميم الموقع بواسطة
                <a style="text-decoration: underline" target="_blank" href="http://desoukonline.com/">دسوق اون لاين</a>
            </div>
        </div>
    </div>
</footer><!--/#footer-->


