<footer id="footer">
    <div class="container">
        <div class="row row-centered">
            <div class="col-md-4 col-centered">
                <div class="col-sm-12">
                    جميع الحقوق محفوظة. &copy; 2013
                    <a target="_blank" href="http://desoukonline.com/" title="دسوق اونلاين">دسوق اونلاين</a>
                </div>
                <div class="col-sm-12">
                    تم تصميم الموقع بواسطة
                    <a style="text-decoration: underline" target="_blank" href="http://desoukonline.com/">دسوق اون
                        لاين</a>
                </div>
            </div>
        </div>
</footer><!--/#footer-->


