{% extends 'base.html.twig' %}
{% block content %}
    <!-- Page Content -->
    <section id="mall_category">
        <div class="container">
            <div class="box">
                <div class="center">
                    <h2>{{ category.title }}</h2>

                    <p class="lead">{{ category.description|raw }}</p>
                </div>
                <ul class="portfolio-items col-4">
                    {% for vendor in category.vendors %}
                        <li class="portfolio-item apps">
                            <div class="item-inner">
                                <div class="portfolio-image">
                                    <img src="{% path vendor.logo, 'preview' %}" alt="">

                                    <div class="overlay">
                                        <a class="preview btn btn-danger" title="Lorem ipsum dolor sit amet"
                                           href="{% path vendor.logo, 'large' %}"><i
                                                    class="icon-eye-open"></i></a>
                                    </div>
                                </div>
                                <h5><a href="{{ path('vendor',{'slug':vendor.slug}) }}">{{ vendor.title }}</a> </h5>
                            </div>
                        </li><!--/.portfolio-item-->
                    {% endfor %}
                </ul>
            </div>
            <!--/.box-->
        </div>
        <!--/.container-->
    </section>

{% endblock %}