{% extends 'base.html.twig' %}
{% block content %}
    <!-- Page Content -->
    <section id="">
        <div class="container">
            <div class="box">
                <div class="center">
                    <h2>Meet the Team</h2>
                    <p class="lead">Pellentesque habitant morbi tristique senectus et netus et<br>malesuada fames ac turpis egestas.</p>
                </div>
                <ul class="portfolio-items col-4 isotope" style="position: relative; overflow: hidden; height: 450px;">
                    <li class="portfolio-item apps isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1); opacity: 1;">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/portfolio/thumb/item1.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="Lorem ipsum dolor sit amet" href="/images/portfolio/full/item1.jpg"><i class="icon-eye-open"></i></a>
                                </div>
                            </div>
                            <h5>Lorem ipsum dolor sit amet</h5>
                        </div>
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item joomla bootstrap isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(275px, 0px, 0px) scale3d(1, 1, 1); opacity: 1;">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/portfolio/thumb/item2.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="Lorem ipsum dolor sit amet" href="/images/portfolio/full/item2.jpg"><i class="icon-eye-open"></i></a>
                                </div>
                            </div>
                            <h5>Lorem ipsum dolor sit amet</h5>
                        </div>
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item bootstrap wordpress isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(550px, 0px, 0px) scale3d(1, 1, 1); opacity: 1;">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/portfolio/thumb/item3.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="Lorem ipsum dolor sit amet" href="/images/portfolio/full/item3.jpg"><i class="icon-eye-open"></i></a>
                                </div>
                            </div>
                            <h5>Lorem ipsum dolor sit amet</h5>
                        </div>
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item joomla wordpress apps isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(825px, 0px, 0px) scale3d(1, 1, 1); opacity: 1;">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/portfolio/thumb/item4.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="Lorem ipsum dolor sit amet" href="/images/portfolio/full/item4.jpg"><i class="icon-eye-open"></i></a>
                                </div>
                            </div>
                            <h5>Lorem ipsum dolor sit amet</h5>
                        </div>
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item joomla html isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 225px, 0px) scale3d(1, 1, 1); opacity: 1;">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/portfolio/thumb/item5.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="Lorem ipsum dolor sit amet" href="/images/portfolio/full/item5.jpg"><i class="icon-eye-open"></i></a>
                                </div>
                            </div>
                            <h5>Lorem ipsum dolor sit amet</h5>
                        </div>
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item wordpress html isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(275px, 225px, 0px) scale3d(1, 1, 1); opacity: 1;">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/portfolio/thumb/item6.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="Lorem ipsum dolor sit amet" href="/images/portfolio/full/item6.jpg"><i class="icon-eye-open"></i></a>
                                </div>
                            </div>
                            <h5>Lorem ipsum dolor sit amet</h5>
                        </div>
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item joomla html isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(550px, 225px, 0px) scale3d(1, 1, 1); opacity: 1;">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/portfolio/thumb/item5.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="Lorem ipsum dolor sit amet" href="/images/portfolio/full/item5.jpg"><i class="icon-eye-open"></i></a>
                                </div>
                            </div>
                            <h5>Lorem ipsum dolor sit amet</h5>
                        </div>
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item wordpress html isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(825px, 225px, 0px) scale3d(1, 1, 1); opacity: 1;">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/portfolio/thumb/item6.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="Lorem ipsum dolor sit amet" href="/images/portfolio/full/item6.jpg"><i class="icon-eye-open"></i></a>
                                </div>
                            </div>
                            <h5>Lorem ipsum dolor sit amet</h5>
                        </div>
                    </li><!--/.portfolio-item-->
                </ul>
            </div><!--/.box-->
        </div><!--/.container-->
    </section>

{% endblock %}