{% extends 'base.html.twig' %}
{% block content %}
    <!-- Page Content -->
    <section>
        <div class="container">
            <div class="box">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="member">
                                                <p><img class="img-responsive img-thumbnail img-circle"
                                                        src="/images/team1.jpg" alt=""></p>

                                                <h3>Agnes Smith
                                                    <small class="designation">CEO &amp; Founder</small>
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="member">
                                                <p><img class="img-responsive img-thumbnail img-circle"
                                                        src="/images/team2.jpg" alt=""></p>

                                                <h3>Donald Ford
                                                    <small class="designation">Senior Vice President</small>
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="member">
                                                <p><img class="img-responsive img-thumbnail img-circle"
                                                        src="/images/team3.jpg" alt=""></p>

                                                <h3>Karen Richardson
                                                    <small class="designation">Assitant Vice President</small>
                                                </h3>
                                            </div>
                                        </div>

                                        <div class="col-sm-3">
                                            <div class="member">
                                                <p><img class="img-responsive img-thumbnail img-circle"
                                                        src="/images/team3.jpg" alt=""></p>

                                                <h3>Karen Richardson
                                                    <small class="designation">Assitant Vice President</small>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </section>

{% endblock %}