<div class="col-md-3">
    <div class="list-group">
        {% for _category in _categories  %}
            <a href="{{ path('mall_category',{'slug':_category.slug}) }}"
               class="list-group-item">{{ _category.title }}</a>
        {% endfor %}
    </div>
    {% include 'horizontal_social.html.twig' %}
    <div class="center">{{ render(controller('DesoukOnlineVisitorsBundle:Front:visitors')) }}</div>
</div>
