@media screen and (max-width: 1200px) {
    .navbar-default .navbar-nav > li > a{
        padding: 30px 14px;
        font-size: 14px;
    }

    .home-search-form > div{
        width:970px
    }

    .vendor_header_menu #vendor_logo_container{
        float: right;
    }
}
@media screen and (max-width: 991px) {
    .home-search-form > div {
        width: 750px
    }
    .navbar-default .navbar-nav > li > a{
        padding: 10px 14px;
    }
}
@media screen and (max-width: 767px) {
    #logo{
        text-align: center;
    }
    .navbar-header,.navbar-brand{
        float:none;
    }
    .navbar-default .navbar-brand{
        width:auto;
    }
    #services .row > div{
        float:none;
    }
    .home-search-form > div {
        width: 100%;
    }
    .navbar-toggle{
        margin-top: 24px;
        margin-right: 11px;
        margin-bottom: 8px;
    }
    .nav.navbar-nav{
        padding:0px;
        float:none;
    }
    .navbar-nav>li{
        float:none;
    }
    .navbar-default .navbar-nav > li > a{
        font-size:16px;
    }
    .vendor_header_menu #vendor_name{
        font-size: 23px;
    }
    /*Vendor menu*/
    #header_vendor_name_container{
        float: right;
        margin-top: 10px;
    }
    .vendor_header_menu #vendor_logo_container{
        float: left;
    }
    .vendor_header_menu #vendor_logo_container{
        position: absolute;
        left: 0;
        top: 0;
    }
    .vendor_header_menu #vendor_logo_container img{
        max-width: 141px;
        max-height: 53px;
    }
    .vendor_header_menu #vendor_menu_contacts{
        text-align: right;
        width: 100%;
        margin-top: 15px;
        border-top: 2px solid rgba(153, 153, 153, 0.21);
        padding-right: 23px;
    }
    /*Vendor menu*/
    .thumbnail a.img_container{
        height: auto;
    }
    #vendor_homepage .thumbnail > a > img{
        height: auto;
    }
    .thumbnail img{
        height: auto;
        max-height: none;
    }
    .facebook_share, .twitter_share{
        width: 41%;
    }
    .product_gallery img{
        max-height: 400px;
        max-width: 100%;
    }
    .box{
        padding: 50px 2px;
    }
    #inner-search input, #inner-search button{
        padding: 6px 4px;
    }
    .facebook_share, .twitter_share{
        width: 35%;
    }
    .portfolio-items.col-4 > li{
        width: 100%;
        float: none;
    }
    #desouk_online_portfolio .nav-tabs>li{
        padding: 0;
    }
    .nav-tabs>li{
        float: none;
        display: inline-block;
    }
}