.thumbnail {
    margin-bottom: 20px;
}

.portfolio-item .item-inner {
    background: #222;
}

.portfolio-item h5, .portfolio-item h5 a {
    color: white;
}

.img-circle {
    width: 155px;
    height: 155px;
}

#vendor_product_category .portfolio-item img {
    height: 170px;
}

.inner_page {
    margin-top: 60px;
}

#mall_category, #vendor_homepage, #vendor_product_category, #vendor_product {
    margin-top: 60px;
}

#mall_category .portfolio-item img {
    height: 135px;
}

#search_page .portfolio-item img {
    height: 135px;
}

#search_page .portfolio-item .stars {
    text-align: left;
}

#search_page .portfolio-item .product_name {
    text-align: left;
}

#vendor_product .carousel-inner > .item > img, .carousel-inner {
    height: 300px;
}

#vendor_product .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    max-height: 300px;
}

.carousel-control.left {
    background-image: none;
    background-repeat: no-repeat;
}

.carousel-control.right {
    background-image: none;
    background-repeat: no-repeat;
}

#vendor_homepage .thumbnail > a > img {
    height: 120px;
}

.carousel-content h2 {
    color: #ffffff;
}

/*LOGO*/
#logo {
    text-align: right
}

#logo a {
    display: inline-block;
}

#logo_words_letters {
    float: right;
}

#logo_letters {
    margin-bottom: 0;
    font-weight: bolder;
    display: inline-block;
    float: right;
    font-size: 48px;
}

#logo_letters span {
    margin-right: 1px;
}

#logo_letter_d {
    float: left;
    /*transform: rotate(180deg);*/
    /*line-height: 33px;*/
    line-height: 57px;

}

#logo_letter_o {
    margin-left: -2px;
    line-height: 57px;
}

#logo_words {
    float: right;
    display: inline-block;
}

#logo_desouk_word {
    display: inline-block;
    margin-bottom: 0;
}

#logo_desouk_online {
    color: #999;
    /*margin-right: 30px;*/
}

/*LOGO*/

.menu_table img {
    max-width: 50px;
    max-height: 50px;
}

.delivery_contacts {
    text-align: right;
    display: inline-block;
}

.delivery_data {
    display: inline-block;
    width: 49%;
    vertical-align: top;
}

.delivery_logo {
    display: inline-block;
    width: 49%;
    text-align: left;
    vertical-align: top;
}

.home-search-form {
    direction: ltr;
}

.home-search-form button, .home-search-form input {
    text-align: right;
    direction: rtl;
}

.home-search-form > div {
    float: none;
    margin: auto;
}

.desouk_online_rating {
    width: 200px;
    text-align: left;
    width: 100%;
}

.desouk_online_rating .voted {
    padding-top: 4px;
    color: #999;
}