.thumbnail {
    margin-bottom: 20px;
}

.portfolio-item .item-inner {
    background: #222;
}

.portfolio-item h5, .portfolio-item h5 a {
    color: white;
}

.img-circle {
    width: 155px;
    height: 155px;
}

#vendor_product_category .portfolio-item img {
    height: 170px;
}

.inner_page {
    margin-top: 60px;
}
.inner_page .carousel-inner img{
    max-height: 300px;
}

#mall_category, #vendor_homepage, #vendor_product_category, #vendor_product {
    margin-top: 60px;
}

#mall_category .portfolio-item img {
    height: 135px;
}

#search_page .portfolio-item img {
    height: 135px;
}

#search_page .portfolio-item .stars {
    text-align: left;
}

#search_page .portfolio-item .product_name {
    text-align: left;
}

#vendor_product .carousel-inner > .item > img, .carousel-inner {
    height: 300px;
}

#vendor_product .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    max-height: 300px;
}

.carousel-control.left {
    background-image: none;
    background-repeat: no-repeat;
}

.carousel-control.right {
    background-image: none;
    background-repeat: no-repeat;
}

#vendor_homepage .thumbnail > a > img {
    height: 120px;
}

.carousel-content h2 {
    color: #ffffff;
}

/*LOGO*/
#logo {
    text-align: right
}

#logo a {
    display: inline-block;
}

#logo_words_letters {
    float: right;
}

#logo_letters {
    margin-bottom: 0;
    font-weight: bolder;
    display: inline-block;
    float: right;
    font-size: 48px;
}

#logo_letters span {
    margin-right: 1px;
}

#logo_letter_d {
    float: left;
    /*transform: rotate(180deg);*/
    /*line-height: 33px;*/
    line-height: 57px;

}

#logo_letter_o {
    margin-left: -2px;
    line-height: 57px;
}

#logo_words {
    float: right;
    display: inline-block;
}

#logo_desouk_word {
    display: inline-block;
    margin-bottom: 0;
}

#logo_desouk_online {
    color: #999;
    /*margin-right: 30px;*/
}

/*LOGO*/

.menu_table img {
    max-width: 50px;
    max-height: 50px;
}

.delivery_contacts {
    text-align: right;
    display: inline-block;
}

.delivery_data {
    display: inline-block;
    width: 49%;
    vertical-align: top;
}

.delivery_logo {
    display: inline-block;
    width: 49%;
    text-align: left;
    vertical-align: top;
}

.home-search-form {
    direction: ltr;
}

.home-search-form button, .home-search-form input {
    text-align: right;
    direction: rtl;
}

.home-search-form > div {
    float: none;
    margin: auto;
}

.desouk_online_rating {
    width: 200px;
    text-align: left;
    width: 100%;
}

.desouk_online_rating .voted {
    padding-top: 4px;
    color: #999;
}

/*Added by Wardany*/
.reaestate_box {
    padding: 50px 30px;
    background: #fff;
    border-bottom: 1px solid #e9e9e9;
    float: right;
    width: 100%;
}

.reaestate_items {
    width: 75%;
    float: left;
    list-style: none;
}

.reaestate_item {
    width: 100%;
    display: block;
    clear: both;
    margin-bottom: 20px;
    float: right;
}

.reaestate_item_inner {

}

.realestate_image {
    width: 35%;
    text-align: center;
    /*background: #222;*/
    /*padding: 10px;*/
    border-bottom: 1px solid #e1e1e1;
    float: right;
}

.realestate_image img {
    height: 135px;
    width: 100%;
    vertical-align: middle;
    border: 0;
}

.realestate_title {
    float: right;
    width: 65%;
    padding-right: 20px;
}

.realestate_title a {
    font-size: 20px;
    color: #222;
}

.realestate_summary {
    float: right;
    width: 65%;
    padding-right: 20px;
    font-size: 16px;
    margin-top: 10px;
    color: #777;
}

.realestate_properities {
    float: right;
    width: 65%;
    padding-right: 20px;
    font-size: 16px;
    margin-top: 10px;
    color: #000;
}

.realestate_properities span {
    color: #52b6ec;
}

.realestate_filter {
    float: right;
    width: 25%;
}
.realestate_filter .panel-body{
padding: 10px 0 0;
}

.realestate_filter .panel-body .btn{
    border-radius: 0;
}
.filter_scroll {
    overflow-y: scroll;
    height: 200px;
    padding-top: 10px;
}
 .btn-group{
	width: 100%;
}
 .btn{
	width: 100%;
}
#user_menu{
	top: 180px;
	left: 0;
	position: fixed;
	width: 200px;
	min-height: 200px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 0 10px 10px 0;
	z-index: 1100;
	padding: 5px;
}
#user_menu span{
	float: right;
	width: 100%;
	text-align: center;
	font-size: 16px;
	line-height: 18px;
	color: green;
	margin-bottom: 10px;
}
#vedor_user_menu{
	list-style: none;
	padding: 0;
	margin: 0;
	margin-bottom: 50px;
	text-align: center;
}
#vedor_user_menu li{
	display: inline-block;
}
#vendor_edit_form{
	width: 70%;
}
/*Added by Wardany*/

.pagination_container {
    text-align: center;
    direction: ltr;
}

.horizontal_social, .facebook_share, .twitter_share {
    display: inline-block;
}

.facebook_share, .twitter_share {
    float: right;
}

#vendor_logo {
    width: 50%;
    display: inline-block;
    text-align: left;
}

.vendor_upper_data {
    margin-bottom: 3px;
}

#vendor_logo img {
    max-height: 100px;
    max-width: 100px;
}

#vendor_social {
    width: 49%;
    display: inline-block;
    text-align: right;
    vertical-align: bottom;
    height: 20px;
}

.upper_data #logo img {
    max-height: 100px;
    max-width: 100px;
}

#vendor_homepage .box {
    padding-top: 35px;
}

#vendor_homepage .navbar-default {
    border-radius: 5px;
    margin-bottom: 9px;
    min-width: 65%;
}
#vendor_header_menu_container {
}

.vendor_header_menu {
}

.vendor_header_menu ul {
    width: 100%;
}

.vendor_header_menu #vendor_name {
    font-size: 40px;
    font-weight: bold;
}

.vendor_header_menu #vendor_logo_container {
    float: left;
}

.vendor_header_menu #vendor_menu_contacts {
    float: left;
    text-align: right;
    padding-top: 2px;
}

.vendor_header_menu #vendor_menu_contacts label {
    width: 44px;
}

.vendor_email {
    direction: ltr;
}

.vendor_header_menu #vendor_logo_container a {
    padding: 2px;
    background: none;
}

.vendor_header_menu #vendor_logo_container img {
    max-height: 74px;
}

#vendor_product_category .portfolio-item{
    float: right;
}

#vendor_header_menu_container .navbar-default .navbar-nav > li:hover >a {
background: transparent;
    color: #52b6ec;
}


.home-search-form .dropdown-menu{
    right:0;
    text-align: right;
    left:auto;
}