 <div class="realestate_filter">
	<div class="panel panel-default">
        <div class="panel-heading">
            تصفية البحث
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
        	<div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">النوع </button>
                <ul class="" role="menu">
                    <li><a href="#">منزل</a></li>
                    <li><a href="#">شقة</a></li>
                    <li><a href="#">أرض زراعية</a></li>
                    <li><a href="#">أرض مبانى</a></li>
                    <li><a href="#">محل</a></li>
                </ul>
            </div>
        	<div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">المنطقة <span class="caret"></span></button>
                <ul class="dropdown-menu scrollable-menu" role="menu">
                    <li><a href="#">حى دحروج</a></li>
                    <li><a href="#">شارع الاستاد</a></li>
                    <li><a href="#">طريق فوة</a></li>
                    <li><a href="#">طريق المستشفى</a></li>
                    <li><a href="#">حى الصفا</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>